@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
}

*{
    margin: 0;
    padding: 0;
  }


:root{
    --primary-color: black;
    --secondary-color: tomato;
    --background-gradient: linear-gradient(180deg, rgb(0, 0, 0), rgb(36, 36, 36), rgb(0, 0, 0));
    --background-color-grey: rgb(46, 46, 46);
    --text-color-grey: rgba(255, 255, 255, 0.5);
    --background-color-black: black;
    --white-color: white;
    --blur-color:  rgba(48, 48, 48, 0.1);
    --box-grey: rgba(63, 62, 62, 0.5);
}

  .bg-light{
    background: var(--background-gradient);
    padding: 60px 10% 0% 10%;
  }

  .display-flex{
    display: flex;
  }
  .white-bold-font{
    font-size: 1rem;
    font-weight: 600;
  }

  body{
    background-color: var(--background-color-black);
  }

  header{
    max-width: 1400px;
    justify-content: center;
    margin: 0 auto;
  }

/* Nav css start here */

  .brand-logo{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.8rem;
    font-weight: 900;
  }

  .nave-container{
    justify-content: space-between;
    align-items: center;
    width: 1400px;
  }

  .nav-bar{
    border: 1px solid var(--text-color-grey);
    padding: 4px;
    border-radius: 30px;
  }

  .nav-links{
    list-style: none;
    gap: 5px;
  }
  .nav-items>a, .nav-items-1>a{
    text-decoration: none;
    color: var(--white-color);
  }

  .nav-items-1{
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 125px;
    padding: 10px;
  }

  .nav-items{
    background-color: var(--background-color-black);
    border-radius: 20px;
    width: 125px;
    padding: 10px;
  }

  .nav-links>li{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* banner section styles */

  .banner-container{
    max-width: 1400px;
    height: 715px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .banner-content{
    width: 520px;
  }
  .banner-heading{
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--white-color);
    margin-bottom: 30px;
    line-height: 120%;
  }

  .banner-subtitle{
    color: var(--text-color-grey);
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
  }

  .right-image-design{
    position: relative;
  }

  .banner-image{
    height: 720px;
    margin-top:0 auto;
  }

  .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
  }

  .circle-content> h3{
    font-size: 1.5rem;
  }

  .banner-hover-card-1{
    position: absolute;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    background-color: var(--blur-color);
    color: var(--white-color);
    backdrop-filter: blur(10px);
    gap: 10px;
    width: 210px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: -105px;
    margin-top: -185px;
  }

  .banner-hover-card-2{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--blur-color);
    color: var(--white-color);
    backdrop-filter: blur(10px);
    width: 210px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 305px;
    margin-top: -510px;
  }

  .banner-card-2-heading{
    font-size: 3rem;
  }

  .banner-card-subtitle{
    color: var(--text-color-grey);
  }

  
  
  .banner-button{
    margin-top: 0px;
  }

  .orange-button{
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--secondary-color);
    border-radius: 40px;
    border: none;
    margin-right: 30px;
  }

  .org-btn-link{
    text-decoration: none;
    color: var(--white-color);
  }

  .white-button{
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 40px;
    border: 2px solid white;
    margin-right: 30px;
    background-color: transparent;
  }
  .wht-btn-link{
    text-decoration: none;
    color: white;
  }

  main{
    background-color: black;
  }

  /* Habit-section-styles */

  .habit-section{
    padding: 60px 0px;
    max-width: 1400px;
    margin: 0 auto;

  }

  .habit-images-cont{
    justify-content: center;
  }

  .image-container{
    justify-content: space-between;
    align-items: center;
  }

  .images-cont-title{
    color: var(--white-color);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .images-cont-subtitle{
    color: var(--text-color-grey);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
  }
  .radius-images{
    border-radius: 50%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
  }

  .image-ctn-heading{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
  }

  .image-ctn-subheading{
    color: var(--text-color-grey);
    font-size: medium;
    font-weight: 400;
    text-align: center;
  }

  /* Run-card-Section-Styles */

  .card-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 62px 0px;
    background-color: var(--background-color-black);
  }

  .card-content-part{
    background-color: var(--background-color-grey);
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .card-caption{
    font-size: 4rem;
    font-weight: 900;
    line-height: 140%;
    color: var(--white-color);
    margin-bottom: 20px;
  }

  .card-text{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
    width: 480px;
    color: var(--text-color-grey);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .card-button{
    width: 210px;
    height: 45px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    border-radius: 40px;
    border: none;
    margin-top: 30px;
  }

  .card-button>a{
    text-decoration: none;
    color: var(--white-color);
  }

  .card-image{
    width: 486px;
    height: 415px;
    object-fit: none;
    object-position: 70% -190px;
    scale: 100%;
    border-radius: 20px;
  }

  /* BMI-Section-Styles */

  .bmi-contents-container{
    max-width: 1400px;
    margin: 0 auto;
    gap: 80px;
  }
  
  .bmi-chart{
    width: 50%;
  }

  .bmi-cap{
    font-size: 2.3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 60px;
  }


  .bmi-table{
    color: white;
    font-size: 1rem;
    width: 60%;
  }

  table{
    border-collapse: collapse;
  }

  td, th{
    border: 1px solid var(--text-color-grey);
    padding: 10px;
  }

  td{
    color: var(--text-color-grey);
  }

  /* bmi-calculator-css-properties */

  .bmi-section{
    background-color: var(--background-color-grey);
    padding: 60px 0px;
  }

  .bmi-calculator{
    width: 50%;
  }

  .bmi-cal-title{
    font-size: 2.3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 15px;
  }

  .bmi-cal-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color-grey);
    margin-bottom: 15px;
  }

  .button-section{
    gap: 15px;
    margin-top: 10px;
  }

  input[type=text]{
    width: 48.75%;
    height: 52px;
    padding: 12px 20px;
    color: var(--text-color-grey);
    background-color: var(--box-grey);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }

 .flex-wrap{
  flex-wrap: wrap;
  display: flex;
 }

  .select-container-1{
    width: 48.75%;
    height: 52px;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
  }

  .sex-container{
    width: 100%;
    height: 100%;
    color: var(--text-color-grey);
    background-color: var(--box-grey);
    border: none;
    padding: 12px 12px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .select-container-2{
    width: 100%;
    height: 52px;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
  }

  .activity-factor{
    width: 100%;
    height: 100%;
    color: var(--text-color-grey);
    background-color: var(--box-grey);
    border: none;
    padding: 12px 12px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .card-button-2{
    width: 210px;
    height: 45px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    border-radius: 40px;
    border: none;
    margin-top: 10px;
  }

  .card-button-2>a{
    text-decoration: none;
    color: var(--white-color);
  }

  /* Team Section Styles */

  .team-section{
    background-color: var(--background-color-black);
    padding: 60px 0px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .team-title{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }

  .team-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color-grey);
    text-align: center;
    margin-bottom: 30px;
  }

  .image-container-section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    gap: 25px;
    justify-content: center;
    background-color: var(--background-color-grey);
    border-radius: 20px;
  }

  .image-container-2{
    position: relative;
  }

  .team-image{
    width: 445px;
    height: 420px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
  }
  

  .image-title{
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    color: white;
  }

  .image-subtitle{
    position: absolute;
    margin-left: 10px;
    margin-top: -30px;
    color: var(--text-color-grey);
  }

  /* Footer-Section-Styles */

  .footer-section{
    background-color: var(--background-color-grey);
    padding: 5% 10% 0% 10%;
  }

  .footer-content{
    justify-content: space-evenly;
    align-items: center;
  }

  hr{
    margin-top: 50px;
    border: 1px solid var(--text-color-grey);
  }
  
  .company-heading{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.8rem;
    font-weight: 900;
  }

  .footer-caption{
    text-align: center;
    color: white;
    font-weight: 200;
    padding: 10px;
  }

  .down-nav-title, .company-introduction, .down-nav-items{
    color: white;
  }